/* Font and other global styles */

body *
{
    font-family: Roboto,sans-serif;
    color: white;
}

/* Body and navbar layout */

body
{
    background-color: rgb(9, 10, 14); /* to prevent transparency problems with navbar at top of site */
    margin: 0;
    padding: 100px 0 0 0;
}

.navbar
{
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
    font-size: 1.5em;
    font-weight: bold;
    /* To make the navbar a bit transparent when scrolling down, will probably change down the line */
    background-image: radial-gradient(ellipse 200% 100% at center bottom, transparent 0%, rgba(9,10,14,0.1) 10%, rgba(9,10,14,0.5) 30%, rgba(9, 10, 14, 1) 70%);
}

.navbar-content
{
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    height: 100px;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.logo img
{
    height: 100%;
}

.logo ul
{
    text-decoration: none;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img:hover
{
    scale: 105%;
}

.navbar ul li 
{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.navbar ul li a
{
    text-decoration: none;
    text-transform: capitalize;
}

.navbar ul li::after
{
    content: '';
    height: 5px;
    width: 0%;
    background: rgb(33, 110, 95);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}

.navbar ul li:hover::after
{
    width: 100%;
}

/* Section layouts */

.section
{
    height: calc(100vh - 100px); /* 100% viewport height for each section, minus navbar height */
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center;
}

.section > h1
{
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block; /* Prevent padding from flowing outside of parent size */
    font-size: 4em;
    text-transform: uppercase;
}


.section > p
{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2em;
}

button
{
    position: relative;
    overflow: hidden;
    width: 25rem;
    padding: 1.5em 0;
    text-align: center;
    margin: 2em 2em;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;
    border: 5px solid rgb(33, 110, 94);
    background: rgb(53, 163, 141);
}

button:hover
{
    background: rgb(33, 110, 94);
}

button:active
{
    border: 5px solid rgb(15, 49, 42);
    background: rgb(15, 49, 42);
}

.section0
{
    background-image: linear-gradient(rgb(9, 10, 14), rgb(43, 61, 70));
}

.section0 img.welcome
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.section1 
{
    background-image: linear-gradient(rgb(43, 61, 70),rgb(9, 10, 14));
}

/* Recommendations */

.recTable
{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recTable iframe
{
    border: none;
    box-shadow: 0 10px 10px rgb(33, 110, 94);
    height: 100%;
    width: 100%;
    transform-origin: center;
    transform: scale(0.8);
}

.widget
{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.widget  img
{
    height: 450px;
    width: 450px;
}
.widget  img:hover
{
    transform: scale(1.1);
}
